
/*-----------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

#header {
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;

}

#tasbar {
    position: relative;
    height: 5vh;
    width: 100%;
    display: flex;
    background-color: #dfdfdf;
   backdrop-filter: blur(150px);
    align-items: center;
    justify-content: space-between;
}

#avartar {
    width: 25%;
}

#avartar img {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    margin-left: 3px;
    transform: translateY(-50%);
}

#name {
    width: 25%;
    position: static;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #464646;
    justify-content: right;
    display: flex;
    margin-right: 10px;
}

#nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: left;
}

#nav li {
    width: 100px;
    text-align: center;
    color: #464646;
    font-weight: 500;
}

#nav li a {
    font-family: 'Montserrat';
    color: #414141d0;
    text-decoration: none;
    height: 35px;
    padding: 0 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li:hover a {
    background-color: #91919171 ;
    color: #000000;
    height: 5vh;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    box-shadow: 0 0 30px #adadad44  ;
    transition: 
        background-color 0.4s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;
}

#nav li:active a {
    background-color: #9b9b9b71 ;
    color: #ffffff;
    height: 35px;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    box-shadow: 0 0 30px #adadad44  ;
    
}

/*-----------------------------------------------------------------*/

#home {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

#pad {
    width: 100%;
    height: 10vh;
}

#text1 {
    font-family: "Kanit";
    font-size: 50px;
    font-weight: 700;
    padding-left: 10vw;
    margin: 0;
    color: rgb(0, 0, 0);
}

#text2 {
    font-family: "Porsche Next";
    color: black;
    font-size: 30px;
    font-weight: 300;
    padding-left: 10vw;
    margin: 0;
}

#startpic {
    width: 90vw;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 3vh auto 0 auto;
    border-radius: 10px;
}



/*-----------------------------------------------------------------*/

#wall {
    width: 100vw;
    height: 1.5vh;
    background: repeating-linear-gradient(
        45deg,
        #d6d6d6,        
        #bdbdbd 2px,   
        #ffffff 5px,   
        #d6d6d6 6px  
    );
    border: 1px solid #b6b6b6;
}

/*-----------------------------------------------------------------*/
#about {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

#pad {
    width: 100vw;
    height: 10vh;
}

#pad {
    width: 100vw;
    height: 5vh;
}

#haichu {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
    margin: 0;
    display: flex;
}

#tieude {
    font-family: "Kanit";
    font-size: 50px;
    font-weight: 700;
    padding-left: 10vw;
    margin: 0;
    color: rgb(0, 0, 0);
}

#tenshop {
    font-family: "Porsche Next";
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

#slogan {
    font-family: "Porsche Next";
    color: black;
    font-size: 23px;
    font-weight: 550;
    margin: 0;
}

#noidung {
    list-style: none;
    font-family: "Porsche Next";
    color: black;
    font-size: 19px;
    font-weight: 100;
    margin: 0;
    padding: 5vh 10vw 0 10vw;
    text-align: justify;
}

#li1 {
    padding-bottom: 3vh;
}
/*-----------------------------------------------------------------*/

#product {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

#products {
    font-family: "Kanit";
    font-size: 50px;
    font-weight: 700;
    padding-left: 10vw;
    padding-bottom: 2vh;
    margin: 0;
    color: rgb(0, 0, 0);
}

#cacsanpham {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mot {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

#hai li img {
    width: 18vw;
    height: 18vh;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#hai {
    list-style: none;
}

#hai li {
    font-family: "Porsche Next";
    margin: 0;
}

#gia {
    font-size: 16px;
    font-weight: 700;
    padding-left: 1vw;
    color: #464646;
}

#tenxe {
    padding-left: 1vw;
    font-size: 20px;
}

#hangdau {
    justify-content: center;
}

/*-----------------------------------------------------------------*/

#contact{
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: fit-content;
    background-color: rgb(255, 255, 255);
    
}

#lienhetuvan {
    font-family: "Kanit";
    font-size: 50px;
    font-weight: 700;
    padding-left: 10vw;
    padding-bottom: 2vh;
    margin: 0;
    color: rgb(0, 0, 0);
}

.consultation-form {
    background: white;
    padding: 40px;
    width: 400px;        
    border-radius: 15px;  
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: "Porsche Next", sans-serif;
    align-items: center;
}


.consultation-form h2 {
    margin: 0 0 10px 0;
    font-size: 28px;
    color: #333;
}

.consultation-form p {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
    font-size: 14px;
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: "Porsche Next", sans-serif;
}


.input-group input:focus {
    border-color: #000;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Porsche Next", sans-serif;
}

#footer {
    justify-content: space-between;
    list-style: none;
    display: flex;
    padding: 0 15vw 0 15vw;
}

#credit {
    background: white;
    padding: 40px;
    width: 400px;        
    border-radius: 15px;  
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: "Porsche Next", sans-serif;
    align-items: center;
    list-style: none;
}
#tenthanhvien {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 20px;
}

#nhom1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

#banquyen {
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    color: #949494;
}