@font-face {
    font-family: playfair;
    src: url('Font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

/*-----------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
#nav li { 
    display: none; 
}

#leftmenu {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
    padding-right: 7px;
    box-sizing: border-box;
}

#sig img {
    transform: translate(5vw, -4vh) !important;
}

}

/*-----------------------------------------------------------------*/
@media only screen and (max-width: 730px) {
    #text {
    width: 90% !important;
    padding: 0 5vw 0 5vw !important;
    margin: 0 auto 0 auto !important;
}

#introduce {
    font-size: 1.1rem !important;
    text-align: justify;
}

#sig img {
    transform: translate(5vw, -4vh) !important;
}

#about {
    flex-direction: column;
}

#pic {
    padding: 0 0 20px 0 !important;
    margin: 0 !important;
    width: 100% !important;
}
}

/*-----------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
body {
    background-color: rgb(0, 0, 0);
}

#nav li {
    display: none;
}

#slogan {
    width: 90vw !important;
    font-size: 2rem !important;
}

#welcome {
    width: 90vw !important;
}

#text {
    width: 90% !important;
    padding: 8vw 5vw 0 5vw !important;
    margin: 0 auto 0 auto !important;
}

#introduce {
    font-size: 1.1rem !important;
    text-align: justify;
}

#sig img {
    transform: translate(5vw, -4vh) !important;
}

#about {
    flex-direction: column;
}

#pic {
    padding: 0 0 30px 0 !important;
    margin: 0 auto 0 auto !important;
    width: 90% !important;
    
}

}

/*-----------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

#header {
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;

}

#tasbar {
    position: relative;
    height: 5vh;
    width: 100%;
    display: flex;
    background-color: #c9c9c9;
   backdrop-filter: blur(150px);
    align-items: center;
    justify-content: space-between;
}

#avartar {
    width: 25%;
}

#avartar img {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    margin-left: 3px;
    transform: translateY(-50%);
}

#name {
    width: 25%;
    position: static;
    font-family: 'Montserrat';
    font-weight: 900;
    color: #000000;
    justify-content: right;
    display: flex;
    margin-right: 10px;
}

#nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

#nav li {
    width: 100px;
    text-align: center;
    color: #464646;
    font-weight: 500;
}

#nav li a {
    font-family: 'Montserrat';
    color: #414141d0;
    text-decoration: none;
    height: 35px;
    padding: 0 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav li:hover a {
    background-color: #91919171 ;
    color: #000000;
    height: 35px;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    box-shadow: 0 0 30px #adadad44  ;
    transition: 
        background-color 0.4s ease,
        color 0.5s ease,
        box-shadow 0.5s ease;
}

#nav li:active a {
    background-color: #9b9b9b71 ;
    color: #ffffff;
    height: 35px;
    width: 73px;
    margin: auto auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 99999px;
    box-shadow: 0 0 30px #adadad44  ;
    
}

/*-----------------------------------------------------------------*/

#home {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: 120vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

#pad {
    width: 100%;
    height: 5vh;
}

#text1 {
    font-family: "Kanit";
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(59, 183, 255));
    background-clip: text;
    font-size: 40px;
    font-weight: 800;
    padding-left: 10vw;
    margin: 0;
    color: rgba(0, 0, 0, 0);
}

#text2 {
    font-family: "Porsche Next";
    color: black;
    font-size: 30px;
    font-weight: 300;
    padding-left: 10vw;
    margin: 0;
}

#startpic {
    width: 90vw;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0 auto;
    border-radius: 10px;
}



/*-----------------------------------------------------------------*/

#wall {
    width: 100vw;
    height: 3vh;
    background: repeating-linear-gradient(
        45deg,
        #000000,        
        #000000 2px,   
        #333333 5px,   
        #000000 6px  
    );
    border: 1px solid #444;
}

/*-----------------------------------------------------------------*/
#about {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: auto;
    background-color: rgb(0, 0, 0);
    justify-content: none;
    display: flex;
}



/*-----------------------------------------------------------------*/

#product {
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

/*-----------------------------------------------------------------*/

#contact{
    margin: 0;
    padding: 0;
    width: 100vw;            
    height: 100vh;
    background-color: rgb(0, 0, 0);
}